.quoteComponent {
  span {
    color: blue;
  }
}

.quote_container {
  position: relative;
  width: 1600px;
  height: 1080px;
  overflow: hidden;
  background-color: #E6E7E8;
  margin: 0 auto;

  .quote_nav {
    position: relative;
    width: 100%;
    height: 103px;
    border-bottom: 1px dashed #bdbebe;

    .quote_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 44px;
      height: 44px;
    }

    .quote_menu {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
    }
  }

  .quote_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 540px;
    height: 100%;
    background: url(../../public/assets/quote.png) no-repeat;

    .quote_left_content {
      position: absolute;
      top: 40%;
      left: 0;
      transform: translateY(-40%);
      width: 388px;
      display: flex;

      .line {
        width: 90px;
        height: 2px;
        background-color: #FFFFFF;
        margin-right: 20px;
        margin-top: 30px;
      }

      .introduce {
        flex: 1;

        .introduce_title {
          font-size: 40px;
          color: #FFFFFF;
        }

        p {
          font-size: 14px;
          color: #FFFFFF;
        }

        .introduce_more {
          margin: 20px 0;
          font-size: 14px;
          color: #FFFFFF;
        }

        .introduce_btn {
          width: 245px;
          height: 60px;
          font-size: 16px;
          text-align: center;
          line-height: 60px;
          color: #FFFFFF;
          border: 2px solid #FFFFFF;
        }
      }
    }
  }

  .quote_course {

    position: absolute;
    right: 0;
    width: 1060px;
    height: 100%;

    .quto_arrow {
      position: absolute;
      bottom: 12%;
      right: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 87px;
      height: 40px;

      .arrow_prev {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: url(../../public//assets/prev.png) no-repeat;
      }

      .arrow_next {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: url(../../public//assets/next.png) no-repeat;
      }
    }

    .quote_vector {
      position: absolute;
      top: 130px;
      left: 0;
      width: 1121px;
      height: 135px;
      background: url(../../public/assets/quote_vector.png) no-repeat;
    }

    .quote_list {
      position: absolute;
      top: 156px;
      left: -70px;
      display: flex;

      .quote_item {
        width: 396px;
        height: 579px;
        margin-right: 95px;

        .quote_position {
          width: 31px;
          height: 36px;
          background: url(../../public/assets/quote_position.png)no-repeat;
        }

        .quote_box {
          margin: 5px 0 0 0;
          padding: 30px;
          height: 534px;
          background-color: #FFFFFF;

          .quote_title {
            font-size: 32px;
            color: #000000;
            margin-bottom: 20px;
          }

          .quote_img {
            width: 307px;
            height: 236px;
            background-color: rebeccapurple;
          }

          .quote_calendar {
            display: flex;
            align-items: center;
            margin: 20px 0;
            font-size: 20px;
            color: #000000;

            .left {
              width: 21px;
              height: 20px;
              margin-right: 5px;
              background: url(../../public/assets/quote_k.png) no-repeat;
            }
          }

          p {
            font-size: 16px;
            color: #696969;
            font-weight: 700;
          }

          .quote_mor {
            margin-top: 20px;
            display: flex;
            align-items: center;

            .left {
              font-size: 16px;
              color: #696969;
              font-weight: 700;
            }

            .right {
              margin-left: 10px;
              width: 20px;
              height: 6px;
              background: url(../../public/assets/quote_right.png) no-repeat;
            }
          }
        }
      }

      .quote_item:nth-of-type(even) {
        margin-top: 50px;
      }

    }
  }

}

@media screen and (min-width: 768px) {
  .quote_container {
    display: block;
  }

  .quote_small {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .quote_container {
    display: none;
  }

  .quote_small {
    overflow: hidden;
    display: block;
    width: 100%;
    background: url(../../public/assets/small_quote.png) no-repeat;
    background-size: cover;

    .quote_small_nav {
      position: relative;
      height: 118px;

      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 58px;
        height: 58px;
      }

      .menu {
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translateY(-50%);
        width: 42px;
        height: 30px;
      }
    }

    .quote_small_content {
      margin: 0 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .quote_small_title {
        font-size: 50px;
        color: #FFFFFF;
      }

      p {
        margin-top: 20px;
        text-align: center;
        font-size: 28px;
        color: #E6E7E8;
      }

      .quote_small_next {
        margin-top: 50px;
        width: 77px;
        height: 76px;
        background: url(../../public/assets/small_quote_next.png) no-repeat;
      }


    }

    .quote_small_course {
      margin-top: 50px;
      position: relative;

      .line {
        position: absolute;
        top: 6px;
        left: 34px;
        width: 520px;
        height: 134px;
        background: url(../../public/assets/small_line.png) no-repeat;
      }

      .quote_small_list {
        margin-left: 4%;
        display: flex;


        .quote_small_item {


          .position {
            width: 31px;
            height: 36px;
            margin-bottom: 5px;
            background: url(../../public/assets/quote_position.png) no-repeat;
          }

          .box {
            width: 300px;
            background-color: #FFFFFF;

            padding: 30px 20px;
            margin-right: 15px;

            .title {
              font-size: 40px;
              color: #000000;
            }

            .img {
              width: 260px;
              height: 180px;
              /* background-color: rebeccapurple; */
            }

            .calendar {
              display: flex;
              margin: 39px 0 20px 0;

              .left {
                width: 26px;
                height: 25px;
                margin-right: 10px;
                background: url(../../public/assets/small_k.png) no-repeat;
              }

              .right {
                font-size: 20px;
                color: #969797;
              }
            }

            p {
              /* text-align: center; */
              font-size: 20px;
              color: #696969;
            }

            .small_learn {
              margin: 20px 0;
              display: flex;
              align-items: center;

              .left {
                font-size: 20px;
                color: #262627;
                font-weight: 700;
              }

              .right {
                margin-left: 10px;
                width: 29px;
                height: 10px;
                background: url(../../public/assets/small_right.png) no-repeat;
              }
            }
          }
        }

        .quote_small_item:nth-of-type(even) {
          margin-top: 40px;
        }
      }
    }

    .quote_btn {
      margin: 40px 4%;
      height: 45px;
      font-size: 20px;
      line-height: 45px;
      text-align: center;
      color: #FFFFFF;
      border: 1px solid #bdbebe;
    }

    .quto_next {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;

      .next {
        width: 79px;
        height: 76px;
        background: url(../../public/assets/small_video_next.png) no-repeat;
        background-size: contain;
      }
    }
  }
}